          <ul class="nav navbar-nav">
            <li>
              <a href="/blog.html">
                <div class="nav-text">话说</div>
              </a>
            </li>
            <li>
              <a href="/works.html">
                <div class="nav-text">Works</div>
              </a>
            </li>
            <li>
              <a href="/reading.html">
                <div class="nav-text">怡情</div>
              </a>
            </li>
            <li>
              <a href="/about.html">
                <div class="nav-text">懂我</div>
              </a>
            </li>
          </ul>
