          <ul class="nav navbar-nav">
            <li>
              <a href="/tech.html">
                <div class="nav-text">耕 耘</div>
              </a>
            </li>
            <li>
              <a href="/thinking.html">
                <div class="nav-text">品 茗</div>
              </a>
            </li>
            <li>
              <a href="/learning.html">
                <div class="nav-text">百 家</div>
              </a>
            </li>
            <li>
              <a href="/about.html">
                <div class="nav-text">懂 我</div>
              </a>
            </li>
          </ul>
